
/*Master styling info, check with others before
changing anything in this section*/


* {
	box-sizing: border-box;
}

body {
	background-color: #999;
}


a {
	text-decoration: none;
	color: navy;
}

a:hover {
	color: #659d32;
}

img {
	width: 100%;
	margin: 0;
}


/* ---- HEADER/NAVIGATION & FOOTER ------ */

#mainImage img {
	max-width: 100%;

}

nav {
	background-color: black;
	font-family: helvetica, sans-serif;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

nav li {
	float: left;
	width: 20%;
}

nav li a {
	display: block;
	color: lime;
	padding: 25px 0;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

nav li a:hover {
	background: silver;
	color: black;
}

footer {
	background: black;
	padding: 20px;
	clear: both;
	margin-top: 30px;
	font-family: helvetica;
}

footer p {
	color: white;
	text-align: center;
	letter-spacing: 2px;
}


/*Individual styling, use class names such as .yourName
 to specify your styling*/


/*Abby styling info*/

#mission {
	width: 60%;
	margin: 40px auto;
	line-height: 2em;
	font-family: helvetica, sans-serif;
}

#mission img {
	border-radius: 50px;
	float: right;
	width: 50%;
	margin: 0 0 15px 15px;
}

#mission h1, #mission h2 {
	color: white;
	padding: 0;
	margin: 0;
}

#valuesgoals {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

#values, #goals {
	width: 50%;
	float: left;
}

#valuesgoals ul {
	padding: 0;
	margin: 0;
}

#valuesgoals ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}



/*Drew styling info*/

#drewbody{
	text-align: center;
	font-family: Helvetica;
	

}

#drewh1{
	font-family: helvetica;
	font-weight: 200;

}




#mainImage img {
	float:left;
	width: 100%;
	max-height: 500px;
}

#white_wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
	min-width: 700px;
	background-color: grey ;
	min-height: 1000px;
	padding:none;
	float:left;
}


#silver_wrapper{
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
	min-width: 700px;
	background-color: lightgrey ;
	min-height: 1500px;
	padding-top: 100px;
	float:left;
	c
}



#footer_wrap {
	max-height: 1500px;
    max-width: 100%;
    width: 100%;
    background-color: #292929;
    float: left;
    padding: 30px;

}
 #drewfooter {
 	background-color: #1a1a1a;
 	width: 100%
 }



.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}



#foot_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	font-family: helvetica;
	font-size: .875em;

}

#foot_list li {
	float: left;
	text-align: center;
	padding-left: 115px;
}

#foot_list a {
	display: block;
	color:#659D32;
	padding: 4px 0;
	text-align: center;
	text-decoration: none;
	font-size: .75em;
	text-align: center;
	padding-left: 75px;
}

#sublist {
	font-size: .75em;
	float: left;
	list-style-type: none;
}

#sublist li {
	margin-right: : 110px;
	float: left;
	display: block;
}

#silver_wrapper #rocket {
	float:left;
	margin-left: 200px;
	box-shadow: 10px 10px 5px #888888;
}

#infographic img{
	width: 500px;
	height: 800px;
	float:left;
	margin-top: 3%;
	margin-left: 10%;
	box-shadow: 10px 10px 5px #000; 

}

#infographic2 img{
	width: 500px;
	height: 800px;
	float:right;
	margin-top: 3%;
	margin-right: 10%;
	box-shadow: 10px 10px 5px #000; 

}


/*Ruach styling info*/

#ruachWrapper {

}










/*Sam styling info*/

#employeeListingWrapper {

}

#employeeListingWrapper .employeeCard {
	border: 2px solid black;
	padding: 1%;
	margin: 1%;
	width: 45%;
	float: left;
	height: 150px;
	vertical-align: middle;
}

#employeeListingWrapper .employeeImg {
	float: left;
	border: 1px solid black;
	padding: .5%;
	padding-bottom: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 1%;

}

#employeeListingWrapper .employeeImg img {
	width: 60px;
	padding: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

}

#employeeListingWrapper h2 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	
}

#employeeListingWrapper h5 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	
}

#employeeListingWrapper p {
	text-align: center;
	margin: auto;
}

#employeeListingWrapper .employeeHeader {
	margin: 1%;
}

#employeesListingWrapper #mainImage {
	
}

