
/*Master styling info, check with others before
changing anything in this section*/

#mainImage img {
	max-width: 100%;

}

body {
	background-color: dimgray;
	color: white;

}






/*Individual styling, use class names such as .yourName
 to specify your styling*/




/*Abby styling info*/

#abbyWrapper {

}







/*Drew styling info*/

#drewWrapper {
	font-family: Helvetica;
	color: lightgrey;
	text-align: center;
}

#about{
	display: block;
	width: 40%;
	color: lightgray;
	padding: 10px;
 }

 footer {
 	background-color: lightgray;
 	color: dimgray;
 	padding-top: 15px;
 }





/*Ruach styling info*/

#ruachWrapper {

}










/*Sam styling info*/

#samWrapper {

}




